.App {
  text-align: center;
}
.MuiSvgIcon-root {
  cursor: pointer;
}

.modal{
  width:50vw;
  position: absolute;
  border: none;
  outline: none;
  border-radius: 10px;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  background-color: white;
}
.controls{
  display: flex;
  flex-direction: column;
  row-gap: 1vw;
  padding: 1vw;
}

.cdiv-main{
  width: 100%;
  display: flex;
  column-gap:1vw;
  align-items: center;
  justify-content: left;
}

.cdiv-1{
  width:66%;
  display: flex;
  padding: 2vw 5vw;
  column-gap: 1vw;
  justify-content: center;
  align-items: center;
  background-color: #caedff;
  border-radius: 1vw;
  
}
.cdiv-1 div{
  padding: 2vw 4vw;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 1vw;
  text-align: center;
  background-color: #caedff;
  
}
.cdiv-2{
  width: 33%;
  background-color: #caedff;
  border-radius: 1vw;
  padding: 2vw 4vw;
  display: flex;
  flex-direction: column;
  row-gap: 1vw;
  text-align: center;
}
.cdiv-11{
  /* border: solid; */
  background-color: white !important;
  padding: 0 !important;
} 